body {
    background-color: rgb(235, 219, 232);
    margin: 0;
}

 html {
    scroll-behavior: smooth;
}

header {
    background: url(/Imagenes/Street.jpg);
    background-size: cover;
    height: 250px;
    overflow: hidden;
    opacity: 80%;
}

.inicio1 {
    color: rgb(2, 0, 2);
    font-family: 'Fasthand', cursive;
    text-transform: uppercase;
    text-align: center;
    font-size: 5rem;
    text-shadow: 3px 6px rgb(147, 115, 160);
}

.inicio2 {
    color: black;
    font-family: 'Courier New', Courier, monospace, cursive;
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
    text-shadow: 1px 3px rgb(9, 0, 10);
}

.menu1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;    
}

.menu1 ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu1 li {
    margin: 0 70px;
}

.menu1 a {
    color: pink;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: block;
    padding: 10px 15px;
    text-decoration: none;
}

.menu1 a:hover {
    color:rgb(155, 106, 190);
}

.sec1 {
    display: flex;
    min-height: 70vh;
    padding: 10px;
}

.itemu {
    padding-bottom: 0%;
}

.itemd {
    padding-top: 0%;
}

section img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .6;
    transition: .5s ease;
}

section img:hover{
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}

.animalesga {
    display: flex;
    justify-content: space-between;
    margin: 0 150px;
}

footer {
    background-color:black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: pink;
    padding: 20px;
    text-align: center;
    text-transform: capitalize;
    justify-content: center;
}

.footer1 i{
    color: pink;
    letter-spacing: 30px;
    font-size: 40px;
    margin-bottom: 10px;
}

.footer1 i:hover{
    color: rgb(155, 106, 190);
}

.subir {
    position: fixed;
    right: 50px;
    bottom: 50px;
    font-size: 25px;
    color:rgb(238, 209, 235);
    padding: 10px;
    background-color: black;
    border-radius: 50%;
    border: 3px solid rgb(238, 209, 235);   
}

.subir:hover {
    color: black;
    border: 3px solid rgb(11, 11, 11);
    background-color: rgb(238, 209, 235);
}