body {
    background-color: rgb(235, 219, 232);
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

.navbar {
    background-color: black;
}

.navbar span {
    color: pink;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler i{
    color: pink;
}

.navbar .nav-item .nav-link {
    color: pink;
}

.jumbotron {
    background-image: url(/imagenes/Street.jpg);
    background-position: center;
    background-size: cover;
    height: 90vh;   
    margin-bottom: 0;
    text-align: center;
}

.jumbotron .container p {
    background: black;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 5px pink;
    color: pink;
    text-shadow: 1px 0px 0px black;
    /* para cuando decida que escribiren la portada */
    /* white-space: nowrap; */
    overflow: hidden;
    text-overflow: ellipsis;
    /* finaliza escrito portada */
} 

.jumbotron .container h1 {
    color: pink;
    font-family: 'Fasthand';
    font-size: 80px;
    border-color: pink;
    text-shadow: 4px 4px 2px black;
}

.jumbotron .btn {
    background-color: black;
    text-decoration: solid;
    border-radius: 50px;
    color: pink;
    border-color: pink;
    box-shadow: 0px 0px 0px 5px pink;
}

.jumbotron .btn:hover {
    background-color: rgb(155, 106, 190);
}

.tg {
    background-color: block;
    text-align: center;
}

.sec1 {
    display: flex;
    min-height: 70vh;
    padding: 10px;
}

.itemp1 {
    padding-bottom: 0%;
}

.itemp2 {
    padding-top: 0%;
}

.itemg1 {
    padding-bottom: 0%;
}

.itemg2 {
    padding-top: 0%;
}

section img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.6;
    transition: 0.5s ease;
}

section img:hover{
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}

.animalesga {
    display: flex;
    justify-content: space-between;
    margin: 0 150px;
}

footer {
    background-color:black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: pink;
    padding: 30px;
    text-align: center;
    text-transform: capitalize;
    justify-content: center;
}

.footer1 i{
    color: pink;
    letter-spacing: 30px;
    font-size: 40px;
    margin-bottom: 10px;
}

.footer1 i:hover{
    color: rgb(155, 106, 190);
}

.subir {
    position: fixed;
    right: 50px;
    bottom: 50px;
    font-size: 25px;
    color:rgb(238, 209, 235);
    padding: 10px;
    background-color: black;
    border-radius: 35%;
    border: 3px solid rgb(238, 209, 235);   
}

.subir:hover {
    color: black;
    border: 3px solid rgb(11, 11, 11);
    background-color: rgb(238, 209, 235);
}